body {
  color              : white;
  background-color   : slategrey;
  text-align         : center;
}

h1 {
  color             : #DBEDF3;
  text-shadow       : 4px 1px indianred;
  font-family       : 'Arvo',
                      serif;
  font-size         : 5rem;
}

*:focus {
  outline           : 0 !important;
}

i {
  color             : red;
}

.icono {
  color             : indianred;
  text-shadow       : 3px 1px #DBEDF3;
}

.pie {
  position         : fixed;
  right            : 0;
  bottom           : 0;
  left             : 0;
  color            : white;
}

.tambor {
  display          : inline-block;
  width            : 150px;
  height           : 150px;
  margin           : 10px;
  color            : indianred;
  border           : 10px solid lightslategrey;
  border-radius    : 15px;
  background-color : white;
  text-align       : center;
  text-shadow      : 3px 0 #dbedf3;
  font-family      : 'Arvo',
                     serif;
  font-size        : 5rem;
  font-weight      : bolder;
  line-height      : 1.5;
}

.teclado {
  margin           : 10% auto;
}

.presionado {
  opacity          : 0.5;
  box-shadow       : 0 3px 4px 0 #DBEEF3;
}

.w {
  background-image : url('../img/tom1.png');
}

.a {
  background-image : url('../img/tom2.png');
}

.s {
  background-image : url('../img/tom3.png');
}

.d {
  background-image : url('../img/tom4.png');
}

.j {
  background-image : url('../img/snare.png');
}

.k {
  background-image : url('../img/crash.png');
}

.l {
  background-image : url('../img/kick.png');
}

.corazon {
  color             : pink;
  font-size         : 1.3rem;
}
